1. В этом небольшом задании вам дается строка чисел, разделенных пробелами, и вы должны вернуть наибольшее и наименьшее число.

In [ ]:
# 1
def max_min_numbers(numbers_str: str) -> tuple:
  """
  Return max and min numbers from numbers string.

  :param numbers_str: string of numbers
  :return: tuple of max and min numbers
  """
  numbers_list = list(map(int, numbers_str.split()))
  max_number = max(numbers_list)
  min_number = min(numbers_list)
  return max_number, min_number


numbers_str = '12 43 54 5 5 34 54 33 83'
max_min_numbers(numbers_str)

(83, 5)

2. Банкоматы допускают использование 4- или 6-значных PIN-кодов, а PIN-коды не могут содержать ничего, кроме ровно 4 или ровно 6 цифр. Если функции передана действительная строка PIN-кода, return true, иначе return false.

In [ ]:
# 2
def check_pin_code(pin_code: str) -> bool:
  """
  Check PIN code. PIN code contains exactly 4 or 6 digits.

  :param pin_code: pin_code string
  :return: True if PIN code is valid else False
  """
  if pin_code.isnumeric() and (len(pin_code) == 4 or len(pin_code) == 6):
    return True
  else:
    return False


pin_code = '355782'
print(check_pin_code(pin_code))

pin_code = '32-422'
print(check_pin_code(pin_code))

True
False

3. Учитывая целое число, определите, является ли оно квадратным : В математике квадратное число или идеальный квадрат — это целое число, которое является квадратом целого числа; другими словами, это произведение некоторого целого числа само на себя. На вход список, на выходе список чисел.

In [ ]:
# 3
import math

def is_sqrt(number: int) -> bool:
  """
  Determine if a number is square.

  :param number: integer number
  :return: True if a number is square else False
  """
  if math.sqrt(number) % 1 == 0:
    return True
  else:
    return False


number = 25
print(is_sqrt(number))

number = 47
print(is_sqrt(number))

True
False

4. Реализуйте функцию unique_in_order, которая принимает в качестве аргумента последовательность и возвращает список элементов без каких-либо элементов с одинаковым значением рядом друг с другом и сохраняет исходный порядок элементов.

In [ ]:
# 4
def unique_in_order(elements_order: list) -> list:
  """
  Returns a list of elements without any elements with the same value next to
  each other and retains the original order of the elements.

  :param elements_order: list of elements sequence
  :return: list of elements
  """
  elements_list = []
  for idx, val in enumerate(elements_order):
    if elements_order[idx] != elements_order[idx - 1]:
      elements_list.append(elements_order[idx])
  return elements_list


elements_order = [3, 3, 2, 3, 5, 32, 3, 2, 2, 2, 35, 35]
print(unique_in_order(elements_order))

elements_order = ['A', 'A', 'D', 'k', 'k', 'd', 'D']
print(unique_in_order(elements_order))

[3, 2, 3, 5, 32, 3, 2, 35]
['A', 'D', 'k', 'd', 'D']

5. Просто, учитывая строку слов, верните длину самого короткого слова (слов).
Строка никогда не будет пустой, и вам не нужно учитывать разные типы данных.

In [ ]:
# 5
def min_word_length(sentence: str) -> int:
  """
  Return the length of the shortest word(s).

  :param sentence: words string
  :return: the length of the shortest word(s)
  """
  words = sentence.split()
  words_length = []
  for i in words:
    words_length.append(len(i))
  return min(words_length)


sentence = 'Data Science is about storytelling and making sense of numbers'
min_word_length(sentence)

2

6. Цифровой корень — это рекурсивная сумма всех цифр числа. Учитывая n, возьмите сумму цифр n. Если это значение имеет более одной цифры, продолжайте уменьшать таким образом, пока не получите однозначное число. Входные данные будут неотрицательным целым числом.

In [ ]:
# 6
def digital_root(n: int) -> int:
  """
  Return digital root - recursive sum of all digits of a number.

  :param n: integer number
  :return: digital root
  """
  if n < 10:
    return n
  digits = list(map(int, str(n)))
  digit_sum = 0
  for i in digits:
    digit_sum += i
  root = digital_root(digit_sum)
  return root


n = 58
print(digital_root(n))

n = 42443829
print(digital_root(n))

4
9

7. Вам будет предоставлено слово. Ваша задача — вернуть средний символ слова. Если длина слова нечетная, верните средний символ. Если длина слова четная, верните 2 средних символа.

In [ ]:
# 7
def middle_symbol(word: str) -> str:
  """
  Return the middle symbol of the word.

  :param word: string
  :return: middle symbol of the word
  """
  if len(word) % 2 == 0:
    first_symbol = int(len(word) / 2 - 1)
    second_symbol = int(len(word) / 2)
    return word[first_symbol:second_symbol + 1]
  else:
    first_symbol = int(len(word) / 2)
    return word[first_symbol]


word = 'python'
print(middle_symbol(word))

word = 'world'
print(middle_symbol(word))

th
r

8. Определите функцию, которая принимает целочисленный аргумент и возвращает логическое значение true или false в зависимости от того, является ли целое число простым.

In [ ]:
# 8
def is_prime(number: int) -> bool:
  """
  Check if a number is prime.

  :param number: integer number
  :return: True if a number is prime else False
  """
  if number <= 1:
    return False
  for i in range(2, int(math.sqrt(number)) + 1):
    if number % i == 0:
      return False
  return True


number = 7
print(is_prime(number))

number = 3247
print(is_prime(number))

True
False

9. Учитывая список целых чисел, определите, является ли сумма его элементов нечетной или четной.

In [ ]:
# 9
def even_or_odd(numbers: list) -> str:
  """
  Determine the sum of the list of numbers is odd or even.

  :param numbers: list of numbers
  :return: a string with the sum of the list elements and values 'even' or 'odd'
  """
  if sum(numbers) % 2 == 0:
    print(f'{sum(numbers)} is even number.')
  else:
    print(f'{sum(numbers)} is odd number.')


numbers = [2, 43, 32, 7, 324, 3]
even_or_odd(numbers)

411 is odd number.

10. Отобрать значения (через filter), расположенных в виде песочных часов в
квадратном вложенном списке и найти сумму этих элементов.

![photo_2024-02-17_13-51-46.jpg]()

In [22]:
# 10
import random

size = random.randint(1, 9)
step = random.randint(1, 9)


def create_matrix(size: int, step: int) -> list:
  """
  Create matrix.

  :param size: matrix size
  :param step: step between matrix values
  :return: matrix
  """
  counter = 100
  matrix = []
  for col in range(size):
    temp = []
    for row in range(size):
      temp.append(counter)
      counter += step
    matrix.append(temp)
  return matrix


def sum_matrix_elements(matrix: list) -> int:
  """
  The sum of matrix elements in the form of an hourglass (sandglass).

  :param matrix: matrix list
  :return: the sum of matrix elements
  """
  size = len(matrix)
  elements = []
  for col, _ in enumerate(matrix):
    for row, _ in enumerate(matrix):
      if (col <= row and col <= size - 1- row) or (col >= row and col >= size - 1 - row):
        elements.append(matrix[col][row])
  return sum(elements)


matrix = create_matrix(size, step)

for i in matrix:
  print(i)

sum_matrix_elements(matrix)

[100, 103, 106, 109, 112]
[115, 118, 121, 124, 127]
[130, 133, 136, 139, 142]
[145, 148, 151, 154, 157]
[160, 163, 166, 169, 172]

2312