1. Напишите функцию для разделения строки и преобразования ее в список слов. Пример "Robin Singh" ==> ["Robin", "Singh"]

In [1]:
# 1
def word_list(s: str) -> list:
  words = s.split()
  return words

s = 'Robin Singh'
word_list(s)

['Robin', 'Singh']

2. Натан любит кататься на велосипеде. Поскольку Натан знает, как важно избегать обезвоживания, он выпивает 0,5 литра воды за час езды на велосипеде. Вам дано время в часах, и вам нужно вернуть количество литров, которое выпьет Натан, округленное до наименьшего значения. Пример time = 3 ----> litres = 1

In [2]:
# 2
from math import floor

def water_liters(time: int) -> int:
  hour_liter = 0.5
  liters = floor(time * hour_liter)
  return liters

time = 3
water_liters(time)

1

3. Создайте функцию, которая возвращает список целых чисел от n до 1, где n>0. Пример: n=5-->[5,4,3,2,1]

In [3]:
# 3
def number_list(n: int) -> list:
  if n <= 0:
    print('Wrong number: n <= 0')
  else:
    numbers = []
    for i in range(n, 0, -1):
      numbers.append(i)
    return numbers

n = 10
number_list(n)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

4. Учитывая год, верните столетие, в котором он находится. Пример 1705 --> 18 1900 --> 19 1601 --> 17

In [4]:
# 4
def century(year: int) -> int:
  if year % 100 > 0:
    century = year // 100 + 1
  else:
    century = year // 100
  return century

year = 1845
century(year)

19

5. Учитывая случайное неотрицательное число, вам необходимо вернуть цифры этого числа в массиве в обратном порядке. 35231 => [1,3,2,5,3]

In [5]:
# 5
def reverse_numbers(number: int) -> list:
  if number < 0:
    print('Wrong number. Enter a non-negative number.')
  else:
    number_str = str(number)
    reverse_number = number_str[::-1]
    reverse_number = list(map(int, reverse_number))
    return reverse_number

number = 35231
reverse_numbers(number)

[1, 3, 2, 5, 3]

6. Получить квадратные матрицы порядка n (через список как на занятии), элементами которых являются заданные действительные числа 1, 2, ..., n*n, расположенные в ней по схемам, которые приведены на рисунках

![image.png]()

In [6]:
# 6
def matrix(n: int) -> list:
  counter = 10

  matrix_right_left = []
  for i in range(n):
    temp = []
    for j in range(n):
      temp.append(counter)
      counter += 1
    if i % 2 == 0:
      matrix_right_left.append(temp)
    else:
      matrix_right_left.append(temp[::-1])

  matrix_down_up = []
  for i in range(n):
    temp = []
    for j in range(n):
      temp.append(0)
    matrix_down_up.append(temp)
  for i in range(n):
    for j in range(n):
      matrix_down_up[j][i] = matrix_right_left[i][j]

  print(f'First matrix: {matrix_down_up}')
  print(f'Second matrix: {matrix_right_left}')


n = 5
matrix(n)

First matrix: [[10, 19, 20, 29, 30], [11, 18, 21, 28, 31], [12, 17, 22, 27, 32], [13, 16, 23, 26, 33], [14, 15, 24, 25, 34]]
Second matrix: [[10, 11, 12, 13, 14], [19, 18, 17, 16, 15], [20, 21, 22, 23, 24], [29, 28, 27, 26, 25], [30, 31, 32, 33, 34]]