Используя sqlalchemy, создать базу в ноутбуке, добавить в нее 4 таблицы с данными, и реализовать следующие действия: HAVING, JOIN (LEFT, INNER), UNION, подзапросы.

In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.27)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)

In [2]:
import sqlalchemy as db

In [3]:
engine = db.create_engine('sqlite:///mydb.db')

In [4]:
conn = engine.connect()

In [5]:
metadata = db.MetaData()

In [6]:
trainers = db.Table(
    'Trainer', metadata,
    db.Column('trainer_id', db.Integer, primary_key=True),
    db.Column('first_name', db.Text),
    db.Column('last_name', db.Text),
    db.Column('sex', db.Text)
)

swimmers = db.Table(
    'Swimmer', metadata,
    db.Column('swimmer_id', db.Integer, primary_key=True),
    db.Column('first_name', db.Text),
    db.Column('last_name', db.Text),
    db.Column('birthday', db.Text),
    db.Column('sex', db.Text),
    db.Column('trainer_id', db.Integer, db.ForeignKey('Trainer.trainer_id'), nullable=False)
)

competitions = db.Table(
    'Competition', metadata,
    db.Column('competition_id', db.Integer, primary_key=True),
    db.Column('name', db.Text),
    db.Column('date', db.Text),
    db.Column('place', db.Text)
)

swimmer_in_competition = db.Table(
    'Swimmer_in_competition', metadata,
    db.Column('id', db.Integer, primary_key=True),
    db.Column('competition_id', db.Integer, db.ForeignKey('Competition.competition_id'), nullable=False),
    db.Column('swimmer_id', db.Integer, db.ForeignKey('Swimmer.swimmer_id'), nullable=False)
)

In [7]:
metadata.create_all(engine)

In [8]:
insertion = trainers.insert().values([
    {'first_name': 'Linell', 'last_name': 'Senussi', 'sex': 'Female'},
    {'first_name': 'Rufe', 'last_name': 'Brezlaw', 'sex': 'Male'},
    {'first_name': 'Byram', 'last_name': 'Tibbits', 'sex': 'Male'},
    {'first_name': 'Stavro', 'last_name': 'Allchin', 'sex': 'Male'},
    {'first_name': 'Park', 'last_name': 'Gorries', 'sex': 'Male'},
    {'first_name': 'Cariotta', 'last_name': 'Jacquemet', 'sex': 'Female'},
    {'first_name': 'Leigh', 'last_name': 'Thornthwaite', 'sex': 'Female'}
])

conn.execute(insertion)

In [9]:
select_all_query = db.select(trainers)
select_result = conn.execute(select_all_query)
select_result.fetchall()

[(1, 'Linell', 'Senussi', 'Female'),
 (2, 'Rufe', 'Brezlaw', 'Male'),
 (3, 'Byram', 'Tibbits', 'Male'),
 (4, 'Stavro', 'Allchin', 'Male'),
 (5, 'Park', 'Gorries', 'Male'),
 (6, 'Cariotta', 'Jacquemet', 'Female'),
 (7, 'Leigh', 'Thornthwaite', 'Female')]

In [10]:
insertion = swimmers.insert().values([
    {'first_name': 'Flem', 'last_name': 'Lambot', 'birthday': '1998-10-13', 'sex': 'Male', 'trainer_id': 1},
    {'first_name': 'Adriena', 'last_name': 'Sygroves', 'birthday': '1997-08-20', 'sex': 'Female', 'trainer_id': 2},
    {'first_name': 'Jami', 'last_name': 'Dullard', 'birthday': '1991-09-25', 'sex': 'Male', 'trainer_id': 3},
    {'first_name': 'Patrizius', 'last_name': 'Quincey', 'birthday': '1996-06-15', 'sex': 'Male', 'trainer_id': 7},
    {'first_name': 'Marijo', 'last_name': 'Whickman', 'birthday': '1991-10-09', 'sex': 'Female', 'trainer_id': 1},
    {'first_name': 'Rorie', 'last_name': 'Seamer', 'birthday': '1996-12-16', 'sex': 'Female', 'trainer_id': 4},
    {'first_name': 'Eduard', 'last_name': 'Winthrop', 'birthday': '1996-04-17', 'sex': 'Male', 'trainer_id': 1},
    {'first_name': 'Jess', 'last_name': 'Legg', 'birthday': 'Legg', 'sex': 'Male', 'trainer_id': 4},
    {'first_name': 'Farlee', 'last_name': 'MacAfee', 'birthday': '1996-05-23', 'sex': 'Male', 'trainer_id': 2},
    {'first_name': 'Quinton', 'last_name': 'Askin', 'birthday': '1991-05-21', 'sex': 'Male', 'trainer_id': 5},
    {'first_name': 'Karel', 'last_name': 'Gethouse', 'birthday': '1998-10-19', 'sex': 'Female', 'trainer_id': 2},
    {'first_name': 'Brianne', 'last_name': 'Thay', 'birthday': '2000-07-13', 'sex': 'Female', 'trainer_id': 5},
    {'first_name': 'Tommie', 'last_name': 'Nickels', 'birthday': '1991-07-05', 'sex': 'Male', 'trainer_id': 3},
    {'first_name': 'Brad', 'last_name': 'Nicholls', 'birthday': '1997-03-14', 'sex': 'Male', 'trainer_id': 6},
    {'first_name': 'Lonnard', 'last_name': 'Castagnier', 'birthday': '1991-04-25', 'sex': 'Male', 'trainer_id': 6},
    {'first_name': 'Carver', 'last_name': 'Reaney', 'birthday': '1995-12-14', 'sex': 'Male', 'trainer_id': 3},
    {'first_name': 'Jard', 'last_name': 'Float', 'birthday': '1994-03-03', 'sex': 'Male', 'trainer_id': 7},
    {'first_name': 'Agustin', 'last_name': 'Adlam', 'birthday': '1991-05-12', 'sex': 'Male', 'trainer_id': 7},
    {'first_name': 'Ulrikaumeko', 'last_name': 'Drohun', 'birthday': '1992-06-16', 'sex': 'Female', 'trainer_id': 7},
    {'first_name': 'Ines', 'last_name': 'Quartly', 'birthday': '1990-03-04', 'sex': 'Female', 'trainer_id': 7}
])

conn.execute(insertion)

In [11]:
select_all_query = db.select(swimmers)
select_result = conn.execute(select_all_query)
select_result.fetchall()

[(1, 'Flem', 'Lambot', '1998-10-13', 'Male', 1),
 (2, 'Adriena', 'Sygroves', '1997-08-20', 'Female', 2),
 (3, 'Jami', 'Dullard', '1991-09-25', 'Male', 3),
 (4, 'Patrizius', 'Quincey', '1996-06-15', 'Male', 7),
 (5, 'Marijo', 'Whickman', '1991-10-09', 'Female', 1),
 (6, 'Rorie', 'Seamer', '1996-12-16', 'Female', 4),
 (7, 'Eduard', 'Winthrop', '1996-04-17', 'Male', 1),
 (8, 'Jess', 'Legg', 'Legg', 'Male', 4),
 (9, 'Farlee', 'MacAfee', '1996-05-23', 'Male', 2),
 (10, 'Quinton', 'Askin', '1991-05-21', 'Male', 5),
 (11, 'Karel', 'Gethouse', '1998-10-19', 'Female', 2),
 (12, 'Brianne', 'Thay', '2000-07-13', 'Female', 5),
 (13, 'Tommie', 'Nickels', '1991-07-05', 'Male', 3),
 (14, 'Brad', 'Nicholls', '1997-03-14', 'Male', 6),
 (15, 'Lonnard', 'Castagnier', '1991-04-25', 'Male', 6),
 (16, 'Carver', 'Reaney', '1995-12-14', 'Male', 3),
 (17, 'Jard', 'Float', '1994-03-03', 'Male', 7),
 (18, 'Agustin', 'Adlam', '1991-05-12', 'Male', 7),
 (19, 'Ulrikaumeko', 'Drohun', '1992-06-16', 'Female', 7),
 (20, 'Ines', 'Quartly', '1990-03-04', 'Female', 7)]

In [12]:
insertion = competitions.insert().values([
    {'name': 'Gembucket', 'date': '2023-09-30', 'place': '58 Northridge Pass'},
    {'name': 'Vagram', 'date': '2023-09-18', 'place': '0606 Towne Place'},
    {'name': 'Alpha', 'date': '2022-10-22', 'place': '95722 Schurz Alley'},
    {'name': 'Lotlux', 'date': '2023-05-13', 'place': '01266 Bobwhite Hill'}
])

conn.execute(insertion)

In [13]:
select_all_query = db.select(competitions)
select_result = conn.execute(select_all_query)
select_result.fetchall()

[(1, 'Gembucket', '2023-09-30', '58 Northridge Pass'),
 (2, 'Vagram', '2023-09-18', '0606 Towne Place'),
 (3, 'Alpha', '2022-10-22', '95722 Schurz Alley'),
 (4, 'Lotlux', '2023-05-13', '01266 Bobwhite Hill')]

In [14]:
insertion = swimmer_in_competition.insert().values([
    {'competition_id': 4, 'swimmer_id': 2},
    {'competition_id': 2, 'swimmer_id': 20},
    {'competition_id': 1, 'swimmer_id': 1},
    {'competition_id': 3, 'swimmer_id': 20},
    {'competition_id': 3, 'swimmer_id': 2},
    {'competition_id': 4, 'swimmer_id': 15},
    {'competition_id': 1, 'swimmer_id': 2},
    {'competition_id': 2, 'swimmer_id': 17},
    {'competition_id': 1, 'swimmer_id': 2},
    {'competition_id': 3, 'swimmer_id': 7},
    {'competition_id': 4, 'swimmer_id': 3},
    {'competition_id': 2, 'swimmer_id': 13},
    {'competition_id': 1, 'swimmer_id': 7},
    {'competition_id': 1, 'swimmer_id': 16},
    {'competition_id': 2, 'swimmer_id': 6}
])

conn.execute(insertion)

In [15]:
select_all_query = db.select(swimmer_in_competition)
select_result = conn.execute(select_all_query)
select_result.fetchall()

[(1, 4, 2),
 (2, 2, 20),
 (3, 1, 1),
 (4, 3, 20),
 (5, 3, 2),
 (6, 4, 15),
 (7, 1, 2),
 (8, 2, 17),
 (9, 1, 2),
 (10, 3, 7),
 (11, 4, 3),
 (12, 2, 13),
 (13, 1, 7),
 (14, 1, 16),
 (15, 2, 6)]

In [16]:
# HAVING, INNER JOIN
# Trainers who have more than 2 student-swimmers
query = (
    db.select((trainers.columns.first_name + ' ' + trainers.columns.last_name).label('trainer_name'), db.func.count(swimmers.columns.trainer_id).label('count'))
    .select_from(trainers)
    .join(swimmers, trainers.c.trainer_id == swimmers.c.trainer_id)
    .group_by(trainers.c.first_name, trainers.c.last_name)
    .having(db.func.count(swimmers.c.trainer_id) > 2)
    .order_by(db.desc('count'))
)

print(f'Query:\n{query}')
print('\nResult:')
for i in conn.execute(query).fetchall():
  print(i)

Query:
SELECT "Trainer".first_name || :first_name_1 || "Trainer".last_name AS trainer_name, count("Swimmer".trainer_id) AS count
FROM "Trainer" JOIN "Swimmer" ON "Trainer".trainer_id = "Swimmer".trainer_id GROUP BY "Trainer".first_name, "Trainer".last_name
HAVING count("Swimmer".trainer_id) > :count_1 ORDER BY count DESC

Result:
('Leigh Thornthwaite', 5)
('Byram Tibbits', 3)
('Linell Senussi', 3)
('Rufe Brezlaw', 3)

In [17]:
# LEFT JOIN (isouter=True)
# Number of competitions in which swimmers participated
query = (
    db.select((swimmers.c.first_name + ' ' + swimmers.c.last_name).label('swimmer_name'), db.func.count(swimmer_in_competition.c.competition_id).label('count'))
    .select_from(swimmers)
    .join(swimmer_in_competition, swimmers.c.swimmer_id == swimmer_in_competition.c.swimmer_id, isouter=True)
    .group_by(swimmers.c.first_name, swimmers.c.last_name)
    .order_by(db.desc('count'))
)

print(f'Query:\n{query}')
print('\nResult:')
for i in conn.execute(query).fetchall():
  print(i)

Query:
SELECT "Swimmer".first_name || :first_name_1 || "Swimmer".last_name AS swimmer_name, count("Swimmer_in_competition".competition_id) AS count
FROM "Swimmer" LEFT OUTER JOIN "Swimmer_in_competition" ON "Swimmer".swimmer_id = "Swimmer_in_competition".swimmer_id GROUP BY "Swimmer".first_name, "Swimmer".last_name ORDER BY count DESC

Result:
('Adriena Sygroves', 4)
('Eduard Winthrop', 2)
('Ines Quartly', 2)
('Carver Reaney', 1)
('Flem Lambot', 1)
('Jami Dullard', 1)
('Jard Float', 1)
('Lonnard Castagnier', 1)
('Rorie Seamer', 1)
('Tommie Nickels', 1)
('Agustin Adlam', 0)
('Brad Nicholls', 0)
('Brianne Thay', 0)
('Farlee MacAfee', 0)
('Jess Legg', 0)
('Karel Gethouse', 0)
('Marijo Whickman', 0)
('Patrizius Quincey', 0)
('Quinton Askin', 0)
('Ulrikaumeko Drohun', 0)

In [18]:
# UNION
# List of swimmers and trainers
query_swimmers = db.select((swimmers.c.first_name + ' ' + swimmers.c.last_name).label('name'))
query_trainers = db.select((trainers.c.first_name + ' ' + trainers.c.last_name).label('name'))
u = db.union(query_swimmers, query_trainers)

print(f'Query:\n{u}')
print('\nResult:')
for i in conn.execute(u).fetchall():
  print(i)

Query:
SELECT "Swimmer".first_name || :first_name_1 || "Swimmer".last_name AS name
FROM "Swimmer" UNION SELECT "Trainer".first_name || :first_name_2 || "Trainer".last_name AS name
FROM "Trainer"

Result:
('Adriena Sygroves',)
('Agustin Adlam',)
('Brad Nicholls',)
('Brianne Thay',)
('Byram Tibbits',)
('Cariotta Jacquemet',)
('Carver Reaney',)
('Eduard Winthrop',)
('Farlee MacAfee',)
('Flem Lambot',)
('Ines Quartly',)
('Jami Dullard',)
('Jard Float',)
('Jess Legg',)
('Karel Gethouse',)
('Leigh Thornthwaite',)
('Linell Senussi',)
('Lonnard Castagnier',)
('Marijo Whickman',)
('Park Gorries',)
('Patrizius Quincey',)
('Quinton Askin',)
('Rorie Seamer',)
('Rufe Brezlaw',)
('Stavro Allchin',)
('Tommie Nickels',)
('Ulrikaumeko Drohun',)

In [19]:
# SUBQUERY
# Swimmers who participated in the last competition
subq = (
    db.select(competitions.c.competition_id)
    .order_by(db.desc(competitions.c.date))
    .limit(1)
    .scalar_subquery()
)

query = (
    db.select((swimmers.c.first_name + ' ' + swimmers.c.last_name).label('name'))
    .select_from(swimmers)
    .join(swimmer_in_competition, swimmers.c.swimmer_id == swimmer_in_competition.c.swimmer_id)
    .where(swimmer_in_competition.c.competition_id == subq)
)

print(f'Subquery:\n{subq}\n')
print(f'Query:\n{query}')
print('\nResult:')
for i in conn.execute(query).fetchall():
  print(i)

Subquery:
(SELECT "Competition".competition_id
FROM "Competition" ORDER BY "Competition".date DESC
 LIMIT :param_1)

Query:
SELECT "Swimmer".first_name || :first_name_1 || "Swimmer".last_name AS name
FROM "Swimmer" JOIN "Swimmer_in_competition" ON "Swimmer".swimmer_id = "Swimmer_in_competition".swimmer_id
WHERE "Swimmer_in_competition".competition_id = (SELECT "Competition".competition_id
FROM "Competition" ORDER BY "Competition".date DESC
 LIMIT :param_1)

Result:
('Flem Lambot',)
('Adriena Sygroves',)
('Adriena Sygroves',)
('Eduard Winthrop',)
('Carver Reaney',)